*{
  box-sizing: border-box;
}
h1{

  text-align: center;

}
/*Small*/
@media (max-width: 767px){
#box1{
width: 100%;
  border: 2px solid black;
  background-color: #DEB887;
margin: 10px;
  float: left;
}
  #box2{
width: 100%;
  border: 2px solid black;
  background-color: #DEB887;
margin: 10px;
  float: left;
}
  #box3{
width: 100%;
  border: 2px solid black;
  background-color: #DEB887;
margin: 10px;
  float: left;
}
#inBox{
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: 100px;
  background-color: #5F9EA0;
  float: right;
  padding: 2px;
  }}

/*Medium*/
@media (min-width: 768px) and (max-width:991px){
#box1{
width: 45%;
  border: 2px solid black;
  background-color: #DEB887;
margin: 10px;
  float: left;
}
  #box2{
width: 45%;
  border: 2px solid black;
  background-color: #DEB887;
margin: 10px;
  float: left;
}
  #box3{
width: 94%;
  border: 2px solid black;
  background-color: #DEB887;
margin: 10px;
  float: left;
}
#inBox{
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: 100px;
  background-color: #5F9EA0;
  float: right;
  padding: 2px;
  }}
/*Large*/
@media (min-width: 992px){
#box1{
width: 25%;
  border: 2px solid black;
  background-color: #DEB887;
margin: 10px;
  float: left;
}
  #box2{
width: 25%;
  border: 2px solid black;
  background-color: #DEB887;
margin: 10px;
  float: left;
}
  #box3{
width: 25%;
  border: 2px solid black;
  background-color: #DEB887;
margin: 10px;
  float: left;
}
#inBox{
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: 100px;
  background-color: #5F9EA0;
  float: right;
  padding: 2px;
  }}